@model PerroAventurero.Models.Afiliacion

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Afiliacion</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Codigo" class="control-label"></label>
                <input asp-for="Codigo" class="form-control" />
                <span asp-validation-for="Codigo" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                    <label asp-for="CedulaCliente" class="control-label"></label>
                    <select asp-for="CedulaCliente" class="form-control" asp-items="ViewBag.CedulaCliente"></select>
                </div>*@
            <div class="form-group">
                <label asp-for="Cedula" class="control-label"></label>
                <select asp-for="Cedula" class="form-control" asp-items="ViewBag.Cedula"></select>
            </div>
            <div class="form-group">
                <label asp-for="Fecha" class="control-label"></label>
                <input asp-for="Fecha" class="form-control" />
                <span asp-validation-for="Fecha" class="text-danger"></span>
            </div>

            <div class="col-md-10">
                <p>Ingrese el comprobante de pago</p>
                <input class="form-control" name="files" type="file" accept="mage/png, image/jpeg" />
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
           
    </div>

</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

