@model IEnumerable<PerroAventurero.Models.Afiliacion>

@section Styles{
    <link rel="stylesheet" href="~/css/indexUser.css" />
}

@{
    ViewData["Title"] = "Index";
}

<div class="header">
    <div class="w-container">
        <h1 class="main-heading">Afiliaciones</h1>
        <div class="divider"></div>

    </div>
</div>

<div id="eventos" class="section">
    <div class="container">
        <div class="row justify-content-center">
            @foreach (var item in Model)
            {

                <div class="col-3" style="padding: 10px; margin-bottom:10px;">
                    <div class="project-wrapper">
                        <a class="project-wrapper inline-block">
                            @if (item.ComprobantePago == null)
                            {
                                <img src="~/images/3.png" width="211" height="211" alt="">
                            }
                            else
                            {
                                <img src="@Url.Action("getImage", "Afiliaciones", new { id = item.Codigo })" width="200" height="300" alt="">
                            }
                            <div class="form-group">

                                <p class="paragraph">Cédula: @Html.DisplayFor(modelItem => item.CedulaCliente)</p>
                            </div>
                        </a>
                        <div class="row">
                            <div class="col-7">
                                <a nohref asp-action="Accept" asp-route-id="@item.Codigo" class="btn btn-dark" onClick="alert('Afiliación aceptada')">Aceptar</a>
                            </div>
                            <div class="col-4">
                                <a nohref  asp-action="Reject" asp-route-id="@item.Codigo" class="btn btn-dark" onClick="alert('Afiliación rechazada')">Rechazar</a>
                            </div>
                        </div>
                    </div>
                </div>

            }
        </div>

    </div>
</div>


