@model PerroAventurero.Models.Reserva


@{
    ViewData["Title"] = "Create";
}

<h1>Envio de comprobante de pago</h1>
<hr />


<div class="row">
    <div class="col-md-4">
        <label>Información del evento</label>

        <div id="eventoP">


        </div>

        @if (ViewBag.Message != null)
        {
            <div>

            </div>
           
        }

        <form asp-action="Edit" enctype="multipart/form-data">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">

            </div>

            <div class="form-group">
                <label asp-for="CedulaClienteNavigation.CedulaCliente" class="control-label"></label>
                <input asp-for="CedulaClienteNavigation.CedulaCliente" class="form-control" asp-items="ViewBag.CedulaCliente" name="CedulaCliente">
                <span asp-validation-for="CedulaClienteNavigation.CedulaCliente" class="text-danger"></span>
            </div>


            <div class="form-group">
                <input type="submit" value="Buscar" class="btn btn-primary" />
            </div>

        </form>
    </div>
</div>




@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    @Html.ValidationMessageFor(m => m.CedulaClienteNavigation.CedulaCliente)

<script type="text/javascript">
   
        $.ajax({
            type: "POST",
            url: '/ComprobantePagoReserva/_Evento',
            success: function (partialView) {
                console.log("partialView: " + partialView);
                $('#eventoP').html(partialView)
            }

        });

 
</script>
}
