body {
    font-family: 'Cormorant Garamond', sans-serif;
    color: #5f4d5d;
    font-size: 24px;
    line-height: 30px;
}

.header-copy {
    margin-top: -15px;
    padding: 140px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(166, 159, 68, 0.48)), to (rgba(166, 159, 68, 0.48))), url( '../images/p3.jpg' );
    background-image: linear-gradient(180deg, rgba(166, 159, 68, 0.48), rgba(166, 159, 68, 0.48)), url( '../images/p3.jpg' );
    background-position: 0px 0px, 50% 60%;
    background-size: auto, cover;
    background-repeat: repeat, repeat-y;
    color: #fff;
    text-align: center;
}

    .header-copy .project-page {
        padding-top: 77px;
        padding-bottom: 77px;
        background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(166, 159, 68, 0.48)), to (rgba(166, 159, 68, 0.48))), url( '../images/p2.jpg' );
        background-image: linear-gradient(180deg, rgba(166, 159, 68, 0.48), rgba(166, 159, 68, 0.48)), url( '../images/p2.jpg' );
        background-position: 0px 0px, 50% 50%;
        background-attachment: scroll, scroll;
    }

.header-signin {
    margin-top: -15px;
    padding-top: 20px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(166, 159, 68, 0.48)), to (rgba(166, 159, 68, 0.48))), url( '../images/p3.jpg' );
    background-image: linear-gradient(180deg, rgba(166, 159, 68, 0.48), rgba(166, 159, 68, 0.48)), url( '../images/p3.jpg' );
    background-position: 0px 0px, 50% 60%;
    background-size: auto, cover;
    background-repeat: repeat, repeat-y;
    color: #fff;
    text-align: center;
}

.container-5 {
    padding-right: 220px;
    padding-left: 220px;
    text-align: left;
}

.form-block-4 {
    padding-right: 20px;
    padding-left: 20px;
}

.heading-6-copy {
    font-family: Montserrat, sans-serif;
    font-weight: 400;
}

.form-copy {
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    text-align: center;
}

.field-label-2-copy {
    font-size: 0px;
    line-height: 25px;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    font-weight: 400;
    text-align: left;
}

.text-field-31 {
    border-radius: 10px;
    height: 30px;
}

.text-field-32 {
    border-radius: 10px;
    height: 30px;
}

.text-field-33 {
    border-radius: 10px;
    height: 30px;
    width: 200px;
}

.text-field-34 {
    border-radius: 10px;
    height: 30px;
    width: 100px;
}

.text-field-35 {
    border-radius: 10px;
    height: 30px;
    width: 100px;
}

.link-6-copy {
    display: block;
    color: #fff;
    font-size: 16px;
    line-height: 25px;
    font-weight: 500;
    text-align: left;
}

.button-4-copy {
    position: static;
    display: inline-block;
    overflow: visible;
    margin-top: 40px;
    margin-right: auto;
    margin-left: auto;
    padding: 10px 15px;
    float: none;
    clear: none;
    border-style: solid;
    border-width: 1px 1px 2px;
    border-color: #47474f;
    border-radius: 10px;
    background-color: #3c3c40;
    -webkit-transition: background-color 300ms ease;
    transition: background-color 300ms ease;
    font-family: Montserrat, sans-serif;
    color: #f5f5f5;
    font-size: 15px;
    font-style: italic;
    text-align: center;
    text-decoration: none;
    -o-object-fit: fill;
    object-fit: fill;
}

    .button-4-copy hover {
        background-color: #fff;
        color: #000;
        text-decoration: none;
    }

.link-6-copy {
    display: block;
    color: #fff;
    font-size: 16px;
    line-height: 25px;
    font-weight: 500;
    text-align: left;
}

@media screen and (max-width: 767px ) {
    .header-copy {
        padding-top: 45px;
        padding-bottom: 45px;
    }
}