@model PerroAventurero.Models.Reports


@section Styles{
    <link rel="stylesheet" href="~/css/company.css" />
}

<div class="header">
    <div class="container">
        <h1 class="main-heading">Reportes</h1>
        <div class="divider"></div>
        <script type="text/javaScript" src="~/js/reportsdatetime.js"></script>
    </div>
</div>

<form asp-action="RenderMenu">

    <div class="container justify-content-center p-5">
        <div class="row p-3">
            <h4>Reportes:</h4>
            <br />
            <div class="m-0 row justify-content-md-center">
                <select id="report" onchange="rangeDatetime()" name="selectReport" class="form-control"
                        asp-items="@(new SelectList(ViewBag.Reports))">
                </select>
            </div>
        </div>

        <div class="row p-3">
            <div class="col-6">
                <div id="start" style="display : block">
                    <label for="start">Fecha de inicio:</label>

                    <input type="date" id="start" name="start"/>
                </div>

            </div>
            <div class="col-6">
                <div id="final" style="display : block">
                    <label for="start">Fecha de final:</label>

                    <input type="date" id="start" name="final"/>
                </div>
                <span asp-validation-for="Fecha_Evento" class="text-danger"></span>
            </div>
        </div>
        <div class="row p-3">
            <div class="form-group">
                <input type="submit" value="Generar reporte" class="btn btn-dark" />
            </div>
        </div>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}



}

