@model PerroAventurero.Models.EmpresasAfiliada

@section Styles{
    <link rel="stylesheet" href="~/css/indexUser.css" />
}

@{
    ViewData["Title"] = "Edit";
}

<div class="header-empresa">
    <div class="container">
        <h1 class="main-heading">Empresas Afiliadas</h1>
        <div class="divider"></div>
    </div>
</div>

<div class="pt-2 row justify-content-md-center">
    <h4>Empresa:</h4>
    <br />
</div>

<!--<div class="m-0 row justify-content-md-center">
    <form asp-action="Edit" enctype="multipart/form-data">
        <input type="hidden" asp-for="CodigoEmpresa" />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>-->
@*<div class="form-group">
        <label asp-for="Cedula" class="control-label"></label>
        <select asp-for="Cedula" class ="form-control" asp-items="ViewBag.Cedula"></select>
    </div>*@


<!--<div class="form-control-file">
    <label>Logo de empresa:</label>
    <input name="files" type="file" accept="image/png, image/jpeg" onchange="loadFile(event)" />
    <img id="output" width="200" height="200" src="@ViewBag.Image" />
    <script>
        var loadFile = function (event) {
            var output = document.getElementById('output');
            output.src = URL.createObjectURL(event.target.files[0]);
            output.onload = function () {
                URL.revokeObjectURL(output.src) // free memory
            }
        };
    </script>
    <span asp-validation-for="Logo" class="text-danger"></span>
</div>
<hr />
<div class="form-group">
    <label>Nombre de empresa:</label>
    <input asp-for="NombreEmpresa" class="form-control" />
    <span asp-validation-for="NombreEmpresa" class="text-danger"></span>
</div>
<div class="form-group">
    <label>Categoría de empresa:</label>
    <input asp-for="Categoria" class="form-control" />-->
@*<select asp-for="Categoria" class="form-control" asp-items="ViewBag.Categoria"></select>*@
<!--<span asp-validation-for="Categoria" class="text-danger"></span>
</div>
<div>
    <label>Contacto de empresa:</label>-->
@*Si dice contactos, deberiamos dejar que la persona agregue varios telefonos a las empresas?*@
<!--<div class="form-row">
        <div class="form-group col-md-6">
            <label>Teléfono:</label>
            <input asp-for="Telefono" class="form-control" />
            <span asp-validation-for="Telefono" class="text-danger"></span>
        </div>

        <div class="form-group col-md-6">
            <label>Correo electrónico:</label>
            <input asp-for="Correo" class="form-control" type="email" />
            <span asp-validation-for="Correo" class="text-danger"></span>
        </div>

    </div>
</div>-->
@*<div class="form-group">
        <label asp-for="Logo" class="control-label"></label>
        <input asp-for="Logo" class="form-control" />
        <span asp-validation-for="Logo" class="text-danger"></span>
    </div>*@







<div class="container py-5">
    <form asp-action="Edit" enctype="multipart/form-data" method="post">

        <div class="row">
            <div class="col-sm-4">
                <div class="form-group">
                    <input type="hidden" asp-for="CodigoEmpresa" />
                    <label>Nombre de empresa:</label>
                    <input asp-for="NombreEmpresa" class="form-control" />
                    <span asp-validation-for="NombreEmpresa" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label>Categoría de empresa:</label>
                    <!--<select asp-for="Categoria" class="form-control">-->
                        @*hacer que lo agarre de la bd*@
                        @*@if (ViewBag.Category == "2")
            {
                <option value="1">Servicio</option>
                <option value="2" selected>Producto</option>
                }
            else
            {

                <option value="1" selected>Servicio</option>
                <option value="2">Producto</option>

            }*@

                        <!--<option value="1">Servicio</option>
                        <option value="2" selected>Producto</option>
                    </select>-->

                    @if (Model.Categoria == "2")
                    {
                        <select asp-for="Categoria" class="form-control">
                            <option value="1">Servicio</option>
                            <option value="2" selected>Producto</option>
                        </select>
                    }
                    else
                    {
                        <select asp-for="Categoria" class="form-control">
                            <option value="1" selected>Servicio</option>
                            <option value="2">Producto</option>
                        </select>
                    }

                    @*<select asp-for="Categoria" class="form-control" asp-items="ViewBag.Categoria"></select>*@
                    <span asp-validation-for="Categoria" class="text-danger"></span>
                </div>
            </div>
            <div class="col-sm-4">
                @*<label>Contacto de empresa:</label>*@

                <div class="form-group">
                    <label>Teléfono:</label>
                    <input asp-for="Telefono" class="form-control" />
                    <span asp-validation-for="Telefono" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label>Correo electrónico:</label>
                    <input asp-for="Correo" class="form-control" type="email" />
                    <span asp-validation-for="Correo" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label>Nombre de contacto:</label>
                    <input asp-for="NombreContacto" class="form-control" />
                    <span asp-validation-for="NombreContacto" class="text-danger"></span>
                </div>

            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label>Logo de empresa:</label>
                    <br />
                    <img id="output" width="200" height="200" src="@ViewBag.Image" />
                    <br />
                    <br />
                    <input name="files" type="file" accept="image/png, image/jpeg" onchange="loadFile(event)" />
                    <span asp-validation-for="Logo" class="text-danger"></span>
                    <br />
                    <br />


                    <script>
                        var loadFile = function (event) {
                            var output = document.getElementById('output');
                            output.src = URL.createObjectURL(event.target.files[0]);
                            output.onload = function () {
                                URL.revokeObjectURL(output.src) // free memory
                            }
                        };
                    </script>

                </div>
                <div class="form-group">
                    <div class="row justify-content-right">
                        <div class="col-6 justify-content-center">
                            <input type="submit" value="Guardar" class="btn btn-dark" />
                        </div>

                        <div class="col-6 justify-content-center">

                        </div>
                    </div>

                </div>

            </div>
        </div>



    </form>
    <div @*class="deletebtn"*@>
        <form asp-action="Delete" asp-route-id="CodigoEmpresa" method="post">
            <input type="hidden" asp-for="CodigoEmpresa" />
            <input class="btn badge-dark" type="submit" onclick="return confirm('¿Está seguro que desea eliminar la empresa?')" value="Eliminar" />
        </form>
    </div>
    @*@using (Html.BeginForm("Delete", "EmpresasAfiliadas", FormMethod.Post))
        {

            <input type="submit" value="Eliminar" class="button-empresa" onclick="return confirm('¿Está seguro que desea eliminar esta empresa')" />
        }*@
</div>



@section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }