@model PerroAventurero.Models.Evento

@{
    ViewData["Title"] = "Edit";
}

@section Styles{
    <link rel="stylesheet" href="~/css/company.css" />
}


<div class="header-reporte">
    <div class="container">
        <h1 class="main-heading">Eventos</h1>
        <div class="divider"></div>
        <script type="text/javaScript" src="~/js/reportsdatetime.js"></script>
    </div>
</div>

<div class="pt-2 row justify-content-md-center">
    <h4>Formulario de modificación de Evento:</h4>
    <br />
</div>
<div class="container py-5">
    <form asp-action="Edit" enctype="multipart/form-data" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="CodigoEvento" />
        <div class="controls">
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label asp-for="NombreEvento" class="control-label">Nombre</label>
                        <input asp-for="NombreEvento" class="form-control" />
                        <span asp-validation-for="NombreEvento" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Lugar" class="control-label"></label>
                        <input asp-for="Lugar" class="form-control" />
                        <span asp-validation-for="Lugar" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Fecha" class="control-label"></label>
                        <input asp-for="Fecha" class="form-control" />
                        <span asp-validation-for="Fecha" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Direccion" class="control-label">Dirección</label>
                        <textarea asp-for="Direccion" class="form-control" rows="2" cols="10"></textarea>
                        <span asp-validation-for="Direccion" class="text-danger"></span>
                    </div>

                </div>
                <div class="col-sm-4">

                    <div class="form-group">
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label asp-for="PrecioGeneral" class="control-label">Precio general</label>
                                <input asp-for="PrecioGeneral" class="form-control" />
                                <span asp-validation-for="PrecioGeneral" class="text-danger"></span>
                            </div>

                            <div class="form-group col-md-6">
                                <label asp-for="PrecioNinno" class="control-label">Precio niño</label>
                                <input asp-for="PrecioNinno" class="form-control" />
                                <span asp-validation-for="PrecioNinno" class="text-danger"></span>
                            </div>

                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label asp-for="CantidadAforo" class="control-label">Cantidad aforo</label>
                                <input asp-for="CantidadAforo" class="form-control" />
                                <span asp-validation-for="CantidadAforo" class="text-danger"></span>
                            </div>

                            <div class="form-group col-md-6">
                                <label asp-for="CantidadGrupos" class="control-label">Cantidad de grupos</label>
                                <input asp-for="CantidadGrupos" class="form-control" />
                                <span asp-validation-for="CantidadGrupos" class="text-danger"></span>
                            </div>

                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-row">
                            <div class="form-group col-md-4">
                                <label asp-for="HoraInicio" class="control-label">Hora inicio</label>
                                <input asp-for="HoraInicio" class="form-control" />
                                <span asp-validation-for="HoraInicio" class="text-danger"></span>
                            </div>

                            <div class="form-group col-md-4">
                                <label asp-for="HoraFinal" class="control-label">Hora final</label>
                                <input asp-for="HoraFinal" class="form-control" />
                                <span asp-validation-for="HoraFinal" class="text-danger"></span>
                            </div>

                            <div class="form-group form-check col-md-4">
                                <label class="form-check-label">
                                    <input class="form-check-input" asp-for="EnvioAnuncios" /> Envío de anuncios
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label asp-for="Comentarios" class="control-label"></label>
                        <textarea asp-for="Comentarios" class="form-control" rows="3" cols="10"></textarea>
                        <span asp-validation-for="Comentarios" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label>Imagen de evento:</label>
                        <br />
                        <img id="output" width="200" height="200" src="@ViewBag.Image" />
                        <br />
                        <br />
                        <input name="files" type="file" accept="image/png, image/jpeg" onchange="loadFile(event)" />
                        <span asp-validation-for="Imagen" class="text-danger"></span>
                        <br />
                        <br />

                        <script>
                            var loadFile = function (event) {
                                var output = document.getElementById('output');
                                output.src = URL.createObjectURL(event.target.files[0]);
                                output.onload = function () {
                                    URL.revokeObjectURL(output.src) // free memory
                                }
                            };
                        </script>


                    </div>

                    <div class="form-group">
                        <input type="submit" value="Guardar evento" class="btn btn-dark" />

                        @if (ViewBag.r != null)
                        {
                            <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
                            <script type="text/javascript">
                        $(document).ready(function () {
                            alert("@ViewBag.r");
                            window.location = "/Eventoes/Index";
                    });
                            </script>
                        }
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div class="row">
        <div class="col-2">
            <form asp-action="Delete" asp-route-id="CodigoEvento" method="post">
                <input type="hidden" asp-for="CodigoEvento" />
                <input class="btn btn-dark" type="submit" onclick="return confirm('¿Está seguro que desea cancelar este evento?')" value="Cancelar Evento" />
            </form>
        </div>
        <div class="col-2">
            <form asp-controller="Reservas" asp-action="ReservasEventos" asp-route-id="CodigoEvento" method="post">
                <input type="hidden" asp-for="CodigoEvento" />
                <input class="btn btn-dark" type="submit" value="Ver reservaciones" />
            </form>
        </div>
        <div class="col-2">
            <form asp-action="" asp-route-id="CodigoEvento" method="post">
                <input type="hidden" asp-for="CodigoEvento" />
                <input class="btn btn-dark" type="submit" onClick="alert('Funcionalidad no disponible')" value="Enviar recordatorios" />
            </form>
        </div>



    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    @Html.ValidationMessageFor(m => m.HoraFinal)
    @Html.ValidationMessageFor(m => m.Fecha)
}
