@model PerroAventurero.Models.Evento

@{
    ViewData["Title"] = "Edit";
}

<div class="m-0 row justify-content-md-center">
    <h4>Formulario de modificación de Evento:</h4>
</div>
<hr />
<div class="m-0 row justify-content-md-center">

        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CodigoEvento" />
            @*<div class="form-group">
            <label asp-for="Cedula" class="control-label"></label>
            <select asp-for="Cedula" class="form-control" asp-items="ViewBag.Cedula"></select>
            <span asp-validation-for="Cedula" class="text-danger"></span>
        </div>*@
            <div class="form-group">
                <label asp-for="NombreEvento" class="control-label">Nombre</label>
                <input asp-for="NombreEvento" class="form-control" />
                <span asp-validation-for="NombreEvento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Lugar" class="control-label"></label>
                <input asp-for="Lugar" class="form-control" />
                <span asp-validation-for="Lugar" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Direccion" class="control-label">Dirección</label>
                <input asp-for="Direccion" class="form-control" />
                <span asp-validation-for="Direccion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fecha" class="control-label"></label>
                <input asp-for="Fecha" class="form-control" />
                <span asp-validation-for="Fecha" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrecioGeneral" class="control-label">Precio general</label>
                <input asp-for="PrecioGeneral" class="form-control" />
                <span asp-validation-for="PrecioGeneral" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrecioNinno" class="control-label">Precio niño</label>
                <input asp-for="PrecioNinno" class="form-control" />
                <span asp-validation-for="PrecioNinno" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CantidadAforo" class="control-label">Cantidad aforo</label>
                <input asp-for="CantidadAforo" class="form-control" />
                <span asp-validation-for="CantidadAforo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CantidadGrupos" class="control-label">Cantidad de grupos</label>
                <input asp-for="CantidadGrupos" class="form-control" />
                <span asp-validation-for="CantidadGrupos" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HoraInicio" class="control-label">Hora inicio</label>
                <input asp-for="HoraInicio" class="form-control" />
                <span asp-validation-for="HoraInicio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HoraFinal" class="control-label">Hora final</label>
                <input asp-for="HoraFinal" class="form-control" />
                <span asp-validation-for="HoraFinal" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="EnvioAnuncios" /> Envío de anuncios
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Comentarios" class="control-label"></label>
                <input asp-for="Comentarios" class="form-control" />
                <span asp-validation-for="Comentarios" class="text-danger"></span>
            </div>


            <div class="form-group">
                <input type="submit" value="Guardar Evento" class="btn btn-dark" />
            </div>

        </form>

</div>

<div>
    <a asp-action="Index">Volver a lista de eventos</a>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    @Html.ValidationMessageFor(m => m.HoraFinal)
}
