@model PerroAventurero.Models.UsuarioAdministrador

@section Styles{
    <link rel="stylesheet" href="~/css/loginUser.css" />
}

@{
    ViewData["Title"] = "Login";
}

@*<h1>Ingrese sus credenciales</h1>

    <div class="row">
        <div class="col-md-4">
            <form asp-action="Login">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Correo" class="control-label"></label>
                    <input asp-for="Correo" class="form-control" />
                    <span asp-validation-for="Correo" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Contrasenna" class="control-label"></label>
                    <input asp-for="Contrasenna" class="form-control" />
                    <span asp-validation-for="Contrasenna" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Ingresar" class="btn btn-primary" />
                </div>
            </form>
            <a class="" asp-area="" asp-controller="Auth" asp-action="SignIn">Registrarse</a>
        </div>
    </div>*@

<div class="header-copy">
    <div class="container-5 container">
        <div class="form-block-4 row justify-content-center">
            <div class="col-md-4  justify-content-start">
                <div class="justify-content-start">
                    <h3>Inicio de sesión:</h3>
                </div>
                <form id="email-form" name="email-form" data-name="Email Form" class="justify-content-start" asp-action="Login">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <label for="name" class="field-label-2-copy">Ingrese su correo electrónico:</label>
                    <input asp-for="Correo" type="email" class="form-control input" maxlength="320" placeholder="Correo electrónico..." id="email" required="" />
                    <span asp-validation-for="Correo" class="text-danger"></span>
                    <label for="name" class="field-label-2-copy">Ingrese su contraseña:</label>
                    <input asp-for="Contrasenna" type="password" class="form-control input" maxlength="30" placeholder="Contraseña..." id="pass" required="" />
                    <span asp-validation-for="Contrasenna" class="text-danger"></span>
                    <style type="text/css">
                        A:link {
                            COLOR: white;
                          
                        }

                        A:visited {
                            COLOR: white;
                            
                        }

                        A:active {
                            COLOR: white;
                           
                        }

                        A:hover {
                            COLOR: white;
                           
                        }
                    </style>
                    <a asp-controller="Auth" asp-action="ModifyPassword" class="link-6-copy">¿Olvidó su contraseña?</a>
                    <a asp-controller="Auth" asp-action="SignIn" class="link-6-copy">¿No tienes una cuenta?<br />Registrate</a>
                    <input type="submit" value="Iniciar sesión" data-wait="Please wait..." class="button-4-copy button" />
                </form>
            </div>
        </div>
    </div>
</div>

<script src="https://d3e54v103j8qbb.cloudfront.net/js/jquery-3.5.1.min.dc5e7f18c8.js?site=60b2d6790e0fd877b12bc115" type="text/javascript" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
<script src="js/webflow.js" type="text/javascript"></script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    @Html.ValidationMessageFor(c => c.Correo)

}