

@{
    ViewData["Title"] = "Mamo";
}

<div class="container py-5">
    <br />
    <div class="m-0 row justify-content-md-center">
        <h3>¡Usted no se encuentra autorizado para ingresar a esta sección!</h3>
    </div>
    <br />
    <br />
    <br />
    <br /><br />
    <br />
    <br />
</div>




