@model PerroAventurero.Models.Cliente_UsuarioComun

@section Styles{
    <link rel="stylesheet" href="~/css/loginUser.css" />
}

@{
    ViewData["Title"] = "ModifyPassword4";
}

@*<h1>Modify Password</h1>

    <p>
        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
            Validar Correo
        </button>
    </p>*@

<div class="header-copy">
    <div class="container-5 container">
        <div class="form-block-4 row justify-content-center">
            <div class="col-md-4">
                <div>
                    <h3 class="heading-6-copy">Modificar contraseña:</h3>
                </div>

                @*<div class="container">
                    <div class="collapse in" id="collapseExample">*@

                <form asp-action="ModifyPass">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label class="control-label">Ingrese su nueva contraseña:</label>
                        <input name="NewPassword" type="password"  class="form-control" />
                        <span class="text-danger"></span>

                    </div>
                    <div class="form-group">
                        <label class="control-label">Ingrese nuevamente su contraseña:</label>
                        <input name="ConfirmPassword" type="password" class="form-control" />
                        <span class="text-danger"></span>
                        <span asp-validation-for="UsuarioComun.Contrasenna" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        @*data-toggle="collapse" data-target="#collapseExample1, #collapseExample" aria-expanded="false" aria-controls="collapseExample1, collapseExample"*@
                        <input asp-controller="Auth" asp-action="ModifyPass" type="submit" value="Modificar Contraseña" class="button-4-copy button" />
                    </div>
                </form>
            </div>
            @*<div class="col-md-4 collapse" id="collapseExample1">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label class="control-label">Codigo</label>
                        <input class="form-control" />
                        <span class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Ingresar" class="btn btn-primary" data-toggle="collapse" data-target="#collapseExample1" aria-expanded="false" aria-controls="collapseExample1" />
                    </div>
                </div>*@
        </div>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    @Html.ValidationMessageFor(c => c.UsuarioComun.Contrasenna)

}
