@model PerroAventurero.Models.Cliente_UsuarioComun

@{
    ViewData["Title"] = "SignIn";
}

@section Styles{
    <link rel="stylesheet" href="~/css/loginUser.css" />
}

@*<h1>Ingrese sus credenciales</h1>

    <div class="row">
        <div class="col-md-4">
            <form asp-action="SignIn">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="UsuarioComun.CedulaCliente" class="control-label"></label>
                    <input name="CedulaCliente" class="form-control" />
                    <span asp-validation-for="UsuarioComun.CedulaCliente" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Cliente.NombreCompleto" class="control-label"></label>
                    <input name="NombreCompleto" class="form-control" />
                    <span asp-validation-for="Cliente.NombreCompleto" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Cliente.FechaNacimiento" class="control-label"></label>
                    <input name="FechaNacimiento" class="form-control" />
                    <span asp-validation-for="Cliente.FechaNacimiento" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Cliente.Genero" class="control-label"></label>
                    <input name="Genero" class="form-control" />
                    <span asp-validation-for="Cliente.Genero" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Cliente.Telefono" class="control-label"></label>
                    <input name="Telefono" class="form-control" />
                    <span asp-validation-for="Cliente.Telefono" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="UsuarioComun.Foto" class="control-label"></label>
                    <input name="Foto" class="form-control" />
                    <span asp-validation-for="UsuarioComun.Foto" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="UsuarioComun.Descripcion" class="control-label"></label>
                    <textarea name="Descripcion" class="form-control"></textarea>
                    <span asp-validation-for="UsuarioComun.Descripcion" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Cliente.Correo" class="control-label"></label>
                    <input name="Correo" class="form-control" />
                    <span asp-validation-for="Cliente.Correo" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="UsuarioComun.Contrasenna" class="control-label"></label>
                    <input name="Contrasenna" class="form-control" />
                    <span asp-validation-for="UsuarioComun.Contrasenna" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Registrarse" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>*@


<div class="header-copy">
    <div class="container-5 container">
        <div class="form-block-4 row justify-content-center">
            <div class="col-6">
                <div>
                    <h3 class="heading-6-copy">Formulario de registro:</h3>
                    <br />
                </div>
                <form asp-action="SignIn" class="form-copy" id="email-form" name="email-form" data-name="Email Form">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label class="field-label-2-copy">Cédula:</label>
                        <br />
                        <input name="CedulaCliente" type="number" class="text-field-33 input" maxlength="320" placeholder="Cédula..." id="email" required="" />
                        <span asp-validation-for="UsuarioComun.CedulaCliente" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="field-label-2-copy">Nombre Completo</label>
                        <input name="NombreCompleto" type="text" class="text-field-33 input" maxlength="320" placeholder="Nombre..." id="email" required="" />
                        <span asp-validation-for="Cliente.NombreCompleto" class="text-danger"></span>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <label class="field-label-2-copy">FechaNacimiento</label>
                                <br />
                                <input name="FechaNacimiento" type="date" class="text-field-34 input" maxlength="320" placeholder="Fecha..." id="email" required="" />
                                <span asp-validation-for="Cliente.FechaNacimiento" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label class="field-label-2-copy">Genero</label>
                                <br />
                                <input name="Genero" type="text" class="text-field-35 input" maxlength="320" placeholder="Género..." id="email" required="" />
                                <span asp-validation-for="Cliente.Genero" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="field-label-2-copy">Telefono</label>
                        <br />
                        <input name="Telefono" type="number" class="text-field-33 input" maxlength="320" placeholder="Teléfono..." id="email" required="" />
                        <span asp-validation-for="Cliente.Telefono" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="field-label-2-copy">Foto</label>
                        <br />
                        <input name="Foto" type="text" class="text-field-33 input" maxlength="320" placeholder="Foto..." id="email" required="" />
                        <span asp-validation-for="UsuarioComun.Foto" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="field-label-2-copy">Descripcion</label>
                        <br />
                        <textarea name="Descripcion" class="text-field-33 input" placeholder="Descripción..." required=""></textarea>
                        <span asp-validation-for="UsuarioComun.Descripcion" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="field-label-2-copy">Correo</label>
                        <br />
                        <input name="Correo" type="email" class="text-field-33 input" maxlength="320" placeholder="Correo electrónico..." id="email" required="" />
                        <span asp-validation-for="Cliente.Correo" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="field-label-2-copy">Contrasenna</label>
                        <br />
                        <input name="Contrasenna" type="password" class="text-field-33 input" maxlength="320" placeholder="Contraseña..." id="email" required="" />
                        <span asp-validation-for="UsuarioComun.Contrasenna" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Registrarse" class="button-4-copy button" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    $("textarea").each(function () {
        this.setAttribute("style", "height:" + (this.scrollHeight) + "px;overflow-y:hidden;");
    }).on("input", function () {
        this.style.height = "auto";
        this.style.height = (this.scrollHeight) + "px";
    });
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
